.calc {
  width: 300px;
  height: 450px;
  border: 2px solid black;
  background-color: DarkSlateGrey;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #808080;
  margin: 60px auto;
  padding: 10px;
  position: relative;
}

.citizen {
  text-align: center;
  color: gold;
  font-size: 0.95em;
}

.screen {
  margin: auto;
  margin-top: 10px;
  background-color: lightGray;
  width: 270px;
  height: 35px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.znak1 {
  min-width: 0.8em;
  font-size: 1.7em;
}

.screen1 {
  max-width: 250px;
  font-size: 1.3em;
  text-align: right;
}

.buttons {
  margin-top: 10px;
  padding: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.b {
  margin-top: 11px;
  width: 60px;
  height: 60px;
  background-color: silver;
  text-align: center;
  border-radius: 35%;
  line-height: 2.6;
  font-size: 1.3em;
  cursor: pointer;
  user-select: none;
}

.plus {
  width: 95px;
  border-radius: 20px;
}

.b:hover {
  background-color: teal;
}

.b:active {
  background-color: Gainsboro;
}

div.w {
  background-color: MediumAquamarine;
}

.w.aqual {
  width: 95px;
  border-radius: 20px;
}

div.zero {
  background-color: silver;
  ;
  width: 95px;
  border-radius: 20px;
}

div.ac {
  background-color: peru;
  width: 95px;
  border-radius: 20px;
}